body{

background: linear-gradient(135deg,#ff758c,#ff7eb3);

font-family:sans-serif;

text-align:center;

color:white;

margin:0;

}

.gift-container{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.gift-box{

font-size:80px;

cursor:pointer;

animation:float 2s infinite ease-in-out;

}

@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-15px)}
100%{transform:translateY(0)}

}

.hidden{

display:none;

}

.gallery img{

width:120px;

margin:10px;

border-radius:10px;

}
